<!DOCTYPE html>
<html>
<head>
    <% include ../inc/inc.head.ejs %>
</head>
<body>
<% include ../mod/mod.head.ejs %>
<div class="g-bd us-wp">
    <div class="g-wp">
        <% include mod.head.ejs %>

        <div class="us-mn-all">
            <% if(list.length == 0){ %>
                no data!
            <% } %>
            <% _.each(list, function(o){ %>
                <div>
                    <%= G.moment(o.date).format('YYYY-MM-DD HH:mm') %>
                    <%= o.num %>
                </div>
            <% }) %>

        </div>
    </div>
</div>
<% include ../mod/mod.foot.ejs %>
<% include ../inc/inc.foot.ejs %>
<script>

</script>
</body>
</html>