


.g-wp{width: 1200px;margin: 0 auto;text-align: left;position: relative;}

.g-logo{position: absolute;left:10px;bottom: 15px;}
.g-search{position: absolute;bottom: 15px;right: 0px;width: 300px;height: 30px;}
.g-nav{height: 36px;background:#fff;border-bottom: #ff1919 3px solid;box-shadow: 0 3px 4px rgba(0,0,0,0.1);width: 100%;}
.g-nav-fix{position: fixed;top:0;z-index: 500;box-shadow: 0 2px 5px rgba(0,0,0,.3);border-bottom-color: #888;}

.m-cate{position: absolute;top:0;left:10px;width: 240px;color: #fff;font-family: "Microsoft Yahei";}
.m-cate-hd{height: 37px;background: #db3652;border-bottom: 1px solid #ca1b38;}
.m-cate-hd h2{line-height: 37px;padding-left:30px;font-weight: 700;font-size:15px;}
.m-cate-bd{}
.m-nav{height: 30px;padding-top: 4px;margin-left: 260px;}
.m-nav li{float: left;height: 100%;margin-right: 8px;}
.m-nav li.line{width: 1px;background: #ccc;border: none;}
.m-nav li.h{text-align: center;}
.m-nav li i{float:left;color: #aeaeae;font-size: 16px;line-height: 160%;}
.m-nav li a{color:#333;font-size: 16px;height: 30px;line-height: 30px;padding: 0 14px;margin:0 4px 0 14px;display:block;}
.m-nav li a:hover{background:#efefef;text-decoration: none;}
.m-nav li a.now{border-bottom: #ff5b97 3px solid;}



.g-bd{padding: 20px 0 14px;}
.g-ft{background: #fbfbfb;border-top: #ddd 1px solid;}
.g-ft-in{position:relative;padding: 20px 0;line-height: 20px;text-align: center;}


.g-oa-qq{margin:12px 0;width: 100px;height: 35px;display: block;background: url('/src/img/login-oauth.png') left top no-repeat;}
.g-oa-wb{margin:12px 0;width: 100px;height: 35px;display: block;background: url('/src/img/login-oauth.png') left -40px no-repeat;}
.g-top-wp{position: fixed;width: 50px;height: 100px;left: 50%;z-index: 100;bottom: 20px;margin-left: 500px;}
.g-qq{position: absolute;width: 50px;height: 50px;bottom: 60px;left:0;background: url('/src/img/top.png?0722') left -50px;}
.g-qq:hover{background-position: 50px -50px;}
.g-top{position: absolute;width: 50px;height: 50px;bottom: 0px;left: 0;background: url('/src/img/top.png?0722') left top;}
.g-top:hover{background-position: 50px top;}
